img.ValidateIcon 
{
    vertical-align:top;
    margin-top:2px;
}

div.ValidateTable
{
    width:100%;
    padding-bottom:20px;
}

div.ValidateTable A:link, 
div.ValidateTable A:visited, 
div.ValidateTable A:active
{
    color:Black;
    font-style:normal;
    text-decoration:none;
}

div.ValidateTable A:hover
{
    color:Blue;
    font-style:italic;
}

div.ValidateTable table
{
    border-width:1px;
    border-style:solid;
    border-color:#eaeaea;
    width:300px;
    color:black;
}

div.ValidateTable th
{
    padding-left:3px;
    padding-right:3px;
    background-color:#eaeaea;
    color:Black;
    font-weight:bold;
    text-align:left;
    width:300px;
}

div.ValidateTable td
{
    padding-left:3px;
    padding-right:3px;
    border-width:1px;
    border-bottom-style:dashed;
    border-color:#eaeaea;
    vertical-align:middle;
}

div.ValidateTable td img
{
    padding:1px;
    padding-right:10px;
    vertical-align:middle;
}

div.ValidateTable td.Last
{
    border-width:0px;
}

div.NavProgress img
{
    vertical-align:top;
}

input.Invalid
{
    /*background-color:#fffeb8;*/
}

input.ReadOnly
{
    background-color: #ececec;
    color:Black;
}

input.Yellow
{
    background-color:#ffff80;
}

input, textarea
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size: 85%;
}

img.uROCheckBox {
    margin: .1em;
    margin-right: .3em;
}
BODY
{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}
TABLE
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}
TR
{
	vertical-align: top;
}
TD
{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 0px;
}
TH
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
	text-align: center;
}
H2
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: baseline;
	color: #000000;
	text-indent: 2pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
H1
{
	font-weight: bold;
	font-size: 105%;
	vertical-align: text-bottom;
	text-indent: 2pt;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
HR
{
	color: #666666;
	background-color: #cccccc;
}
IMG
{
	border: 0px;
	vertical-align: middle;
}

TD#leftNavColumn
{
	width: 189px;
	min-width: 189px;
	padding: 5px;
	border-right: 1px solid #666;
}
TD#mainContentColumn
{
	padding: 10px;
	padding-left: 5px;
}
TABLE.grid
{
	border: 1px solid #cccccc;
	padding: 1px;
	margin: 0px;
	border-collapse: separate;
	border-color: #cccccc;
}
TABLE.grid TH, TABLE.grid TD
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
TABLE.grid TD
{
}

.thHeader
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
	text-align: center;
}

.thHeaderLeft
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
	text-align: left;
}
.evenRow
{
	background-color: #dddddd;
	vertical-align: middle;
}
.oddRow
{
	background-color: #eeeeee;
	vertical-align: middle;
}
.cellLabel
{
	font-size: 100%;
	vertical-align: top;
	text-transform: none;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right: 10px;
}
.cellData
{
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellLabelLeft
{
	font-weight: normal;
	font-size: 100%;
	vertical-align: top;
	text-transform: none;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellLabelQuestion
{
	font-weight: normal;
	font-size: 100%;
	background-color: Transparent;
	background-image: url(/images/core/dot.gif);
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellLabelStatic
{
	font-weight: normal;
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.cellLabelStaticLeft
{
	font-weight: normal;
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellLabelStaticRight
{
	font-weight: normal;
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}



.buttonStyleGeneric
{
	font-size: 100%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #6b78a2;
	font-weight: bold;
	vertical-align: middle;
	height: 25px;
	width: 80px;
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}
.buttonStyleLong
{
	font-size: 100%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #6b78a2;
	font-weight: bold;
	vertical-align: middle;
	height: 25px;
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}
.errorText
{
	color: #FF0000;
	font-weight: bold;
	vertical-align: middle;
	font-size: 100%;
}
.buttons
{
	vertical-align: middle;
	text-align: center;
}
.sectHead, .sectHead A:link, .sectHead A:visited, .sectHead A:active, .sectHead A:hover, .sectHeadCenter, .sectHeadRight
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #ffffff;
	text-indent: 2pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 27px;
	background-color: #6b78a2;
	text-align: left;
	padding-left: 10px;
}
.sectHead A:link, .sectHead A:visited, .sectHead A:active, .sectHead A:hover
{
	padding-left: 0px;
	text-decoration: none;
}
.sectHead {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}

.subSectHead {
	border-bottom: 2px solid #6b78a2;
	line-height: 21px;
	position: relative;
	overflow: hidden;
	margin: 0.25rem 0;
}

.subSectHead span {
	padding: 2px 15px 2px 10px;
	color: #fff;
	background-color: #6b78a2;
	position: relative;
}

.subSectHead span:after {
	background-color: #fff;
	box-sizing: inherit;
	content: "";
	position: absolute;
	top: 0;
	right: 10px;
	width: 50px;
	height: 20px;
	-webkit-transform: rotate(-105deg);
	-ms-transform: rotate(-105deg);
	transform: rotate(-105deg);
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
}

.sectHeadLink a:
{
	padding-left: 0px;
	text-decoration: none;
}
.sectHeadCenter
{
	text-align: center;
}
.sectHeadRight
{
	text-align: right;
	padding-right: 10px;
}

.horizontalSpacer
{
	height: 5px;
}
.sectionSpacer
{
	height: 15px;
}
.rightBorder
{
	width: 5px;
	background-color: #9b6cbb;
}
.sideBar
{
	vertical-align: top;
	width: 140px;
	background-color: #666699;
}
.error
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #FF0000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.warning
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #ffff00;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.completionText
{
	font-size: 125%;
}
.cellDataBold
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellDataDifferent
{
	font-weight: normal;
	font-size: 100%;
	vertical-align: top;
	color: #ff0000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.searchBar
{
	font-size: 71%;
	color: #ffffff;
	background-color: #6b78a2;
}
.copy
{
	font-size: 71%;
	color: #aaaaaa;
}
.globalNav
{
	font-size: 75%;
}
.topNav
{
	font-size: 90%;
	background-color: #cccccc;
	vertical-align: middle;
}
.stepDescription
{
	font-size: 85%;
	color: #000000;
	vertical-align: top;
	text-align: left;
}

.grayLink
{
	color: #aaaaaa;
	text-decoration: none;
}
.sectionHeader
{
	color: #333366;
	font-weight: bold;
}

.whiteLink
{
	color: #ffffff;
	text-decoration: none;
}
.blackLink
{
	color: #000000;
	text-decoration: none;
}

.searchBarBG
{
	background-color: #6b78a2;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 80%;
}

.white
{
	background-color: #FFFFFF;
}
.darkGray
{
	background-color: #999999;
}
.midGray
{
	background-color: #666666;
}
.rightColumn
{
	background-color: #f2f2e6;
}
.topNavBG
{
	background-color: #cccccc;
}





ul.NavLeft
{
	color: #666699;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	width: 189px; /*IE7 fix: TD content controls width*/
	min-width: 189px; /*IE7 fix: TD content controls width*/
}

ul.NavLeft, ul.NavLeft li, ul.NavLeft li a
{
	color: #666699;
	text-decoration: none;
}

ul.NavLeft li.NavLeft1, ul.NavLeft li.NavLeft1_Active, ul.NavLeft li.NavLeft1_Invalid
{
	font-size: 90%;
	margin-top: 3px;
}

ul.NavLeft li.NavLeft1_Active, ul.NavLeft li.NavLeft2_Active, ul.NavLeft li.NavLeft3_Active, ul.NavLeft li.NavLeft4_Active
{
	font-weight: bold;
}

ul.NavLeft li.NavLeft1_Invalid, ul.NavLeft li.NavLeft2_Invalid, ul.NavLeft li.NavLeft3_Invalid, ul.NavLeft li.NavLeft4_Invalid
{
	color: Gray;
	font-style: italic;
}

ul.NavLeft li.NavLeft2, ul.NavLeft li.NavLeft2_Active, ul.NavLeft li.NavLeft2_Invalid, ul.NavLeft li.NavLeft3, ul.NavLeft li.NavLeft3_Active, ul.NavLeft li.NavLeft3_Invalid, ul.NavLeft li.NavLeft4, ul.NavLeft li.NavLeft4_Active, ul.NavLeft li.NavLeft4_Invalid
{
	font-size: 85%;
	background-image: url(/images/core/NavLeftBullet.gif);
	background-repeat: no-repeat;
}

ul.NavLeft li.NavLeft2, ul.NavLeft li.NavLeft2_Line, ul.NavLeft li.NavLeft2_Active, ul.NavLeft li.NavLeft2_Invalid
{
	background-position: 10px 0.4em;
	padding-left: 20px;
}

ul.NavLeft li.NavLeft3, ul.NavLeft li.NavLeft3_Line, ul.NavLeft li.NavLeft3_Active, ul.NavLeft li.NavLeft3_Invalid
{
	background-position: 30px 0.4em;
	padding-left: 40px;
}

ul.NavLeft li.NavLeft4, ul.NavLeft li.NavLeft4_Line, ul.NavLeft li.NavLeft4_Active, ul.NavLeft li.NavLeft4_Invalid
{
	background-position: 50px 0.4em;
	padding-left: 60px;
}

ul.NavLeft li hr
{
	color: #9e9e9e;
	height: 1px;
	width: 98%;
}

ul.NavLeft li.NavLeft1_Line, ul.NavLeft li.NavLeft2_Line, ul.NavLeft li.NavLeft3_Line, ul.NavLeft li.NavLeft4_Line
{
	height: 0;
	margin-top: -12px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}










.grayText
{
	color: #999999;
	font-size: 85%;
	vertical-align: top;
	text-align: left;
}
.buttonStyle
{
	font-weight: normal;
	font-size: 12px;
	width: 60px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
}
.buttonStyleSmall
{
	font-weight: bold;
	font-size: 70%;
	color: #6B78A2;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	height: 23px;
}

.paging
{
	font-weight: normal;
	font-size: 70%;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.logoff
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-transform: capitalize;
	color: #666699;
	text-align: center;
	text-decoration: none;
}
.whiterow
{
	height: 22px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}
.celldataright
{
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
LI
{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 2px;
	color: #666699;
}
ul.subList {
	padding-left: 2em;
}
ul.subList > li {
	color: #000;
}
.cellDataBoldRight
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.cellDataBoldCenter
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.cellDataCenter
{
	font-size: 100%;
	vertical-align: middle;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.logofftop
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-transform: capitalize;
	color: #666699;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
.requiredtext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 15px;
	background-color: #FFFFFF;
}
.cellLabelTop
{
	font-size: 100%;
	vertical-align: top;
	text-transform: none;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.celldatarightTop
{
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.cellDataBoldRightTop
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.cellDataBoldTop
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: top;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.cellDataBoldBottom
{
	font-weight: bold;
	font-size: 100%;
	vertical-align: bottom;
	color: #000000;
	text-indent: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

.readerText
{
	position: absolute;
	width: 100px;
	left: -9999px;
}

.showOnFocus:focus
{
	position: static;
	width: auto;
}

.borderTable
{
	border: 1px solid #666666;
	border-collapse: collapse;
}
.borderTable th
{
	border: 1px solid #666666;
	padding: 1px;
}
.borderTable td
{
	border: 1px solid #666666;
	padding: 1px;
}

.normalTable
{
	border: none;
	border-collapse: collapse;
}
.normalTable th
{
	border: none;
	padding: 2px;
}
.normalTable td
{
	border: none;
	padding: 2px;
}

a.defLink:link, a.defLink:visited
{
	cursor: help;
	text-decoration: none;
	color: #000;
	border-bottom: 1px dashed #00f;
}
a.defLink:hover, a.defLink:active
{
	color: #00c;
	border-bottom-style: solid;
}
a.defLink img, img.defLink
{
	display: none;
}

.NotesRow4Cell
{
	width: 175px;
	height: 100px;
	overflow: scroll;
}

.NotesRow2Cell
{
	width: 375px;
	height: 100px;
	overflow: scroll;
}

.NotesNormal
{
	width: 750px;
	height: 100px;
	overflow: scroll;
}

.UserLabel
{
	font-size: 16;
	font-weight: bold;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans-serif;
}

/* additions */
.lblName25
{
	width: 25%;
	padding: 3px;
	white-space: nowrap;
}
.lblValue25
{
	width: 25%;
	padding: 3px;
	font-weight: bold;
}
.lblValue75
{
	width: 75%;
	padding: 3px;
	font-weight: bold;
}
.dtName30
{
	width: 30%;
	padding: 3px;
	text-align: right;
	white-space: nowrap;
}
.dtValue70
{
	width: 70%;
	padding: 3px;
}
.lblName30
{
	width: 30%;
	padding: 3px;
	text-align: right;
	white-space: nowrap;
}
.lblValue70
{
	width: 70%;
	padding: 3px;
	font-weight: bold;
}
.pad
{
	padding: 3px;
}
.indent
{
	padding-left: 25px;
}
.nowrap
{
	white-space: nowrap;
}
.bold
{
	font-weight: bold;
}
.right
{
	text-align: right;
}
.dcpIconImage
{
	margin-left: 9px;
	margin-right: 9px;
	margin-top: 4px;
	margin-bottom: 3px;
}
.dcpIconText
{
	margin-left: 12px;
	margin-right: 12px;
}

.hide, .clearfix.hide
{
	display: none;
}
.clearfix:before, .clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1; /*IE7 fix: trigger hasLayout*/
}
.nowrap
{
	white-space: nowrap;
}
.code
{
	font-family: monospace;
	white-space: pre;
}
.icon /* based on google material design icons - https://design.google.com/icons/ */
{
	background-color: transparent; /*IE7 fix: sprites need bg color to be set*/
	background-image: url('../../Images/Core/icons-sprite.png');
	background-repeat: no-repeat;
}
#needHelp
{
	float: right;
	font-size: .9em;
	margin: 0 3px 0 10px;
	width: 6.5em;
	position: relative;
	z-index: 1000;
}
#needHelp .helpTrigger
{
	white-space: nowrap;
	cursor: pointer;
}
#needHelp .helpTrigger .icon.openClose
{
	background-position: -7px -16px; /* arrow drop up */
	width: 14px;
	height: 14px;
	display: inline-block;
}
#needHelp.collapsed .helpTrigger .icon.openClose
{
	background-position: -7px -28px; /* arrow drop down */
}
#needHelp .helpContent
{
	position: absolute;
	right: 0;
	top: 1.2em;
	background-color: #fefefe;
	padding: 10px;
	border: 1px solid #999;
	line-height: 1.5em;
	white-space: nowrap;
}
#needHelp.collapsed .helpContent
{
	display: none;
}
.section
{
	width: 100%;
	margin-bottom: 10px;
}
.section.noHeader.collapsed
{
	margin-bottom: 0;
}
.section.noHeader .sectHeader
{
	display: none;
}
.section.noHeader .infoGroup .infoContent
{
	background-color: Transparent;
}
.section .sectHeader
{
	background-color: #6b78a2;
	color: #fff;
}
.section .sectHeader .title
{
	font-weight: bold;
	margin: 6px 10px 0 0;
	float: left;
}
.section .sectHeader .info
{
	float: right;
	font-size: .8em;
	text-align: right;
}
.section .sectHeader .trigger
{
	display: block;
	cursor: pointer;
	float: left;
	margin: 4px 14px 4px 9px;
	width: 22px;
	height: 22px;
	background-position: 1px 1px; /*minus box*/
}
.section.collapsed .sectHeader .trigger
{
	background-position: -20px 1px; /*plus box*/
}
.section .sectHeader .help
{
	margin: 4px;
	float: left;
	cursor: help;
	background-position: -42px 1px; /*help circle*/
	width: 22px;
	height: 22px;
}
.section .sectHelp
{
	display: none;
	font-size: .85em;
	line-height: 1.4em;
	background-color: #efe;
	border-bottom: 1px solid #cfc;
	padding: 10px 40px 10px 10px;
}
.section .sectCont
{
	margin: 0;
	padding: 3px;
	border-bottom: 1px solid #ddd;
	border-top: none;
	background-color: #f6f6f6;
	line-height: 1.4em;
	font-size: .9rem;
}
.section .sectCont:nth-of-type(even)
{
	background-color: #eee;
}
.size70
{
	max-width: 70%;
	min-width: 525px;
}
.size40-70
{
	width: 70%;
	max-width: 70%;
	min-width: 300px;
}
.size50
{
	width: 50%;
	max-width: 50%;
	min-width: 300px;
}
.size40
{
	width: 40%;
	max-width: 40%;
	min-width: 300px;
}
.size30
{
	width: 30%;
	max-width: 30%;
	min-width: 225px;
}
.infoGroup
{
	float: left;
}
.infoGroup .infoContent
{
	padding: 5px;
	margin: 4px 2px;
}
.infoGroup .infoTitle
{
	margin: 0 0 3px 0;
	padding-bottom: 5px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.15em;
	font-style: italic;
	font-size: .95em;
}
.infoGroup .infoLinks
{
	font-size: .9em;
	margin-top: 3px;
}
.infoGroup .infoLinks a
{
	margin-bottom: 5px;
}
.infoGroup a:link, .infoGroup a:visited
{
	color: #00E;
}
.infoGroup a:hover
{
	color: #E00;
}
.infoGroup a:active
{
	color: #C00;
}
a.sideLink:link, a.sideLink:visited
{
	font-size: .8rem;
	color: #000;
}
.infoGroup a.sideLink:visited
{
	text-decoration: none;
}
.infoGroup a.sideLink:hover
{
	color: #E00;
}
.infoGroup a.sideLink:active
{
	color: #000;
}
.infoItem
{
	margin: 3px;
}
.infoItem .infoValue
{
	font-weight: bold;
}
.infoGroup .infoItem .infoValue
{
	color: #444;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.closeableBox
{
	position: relative;
}
.closeableBox .closeBoxBtn
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	background: transparent url(/images/core/closeButton.png) no-repeat 6px 6px;
	cursor: pointer;
	opacity: .4;
}
.closeableBox .closeBoxBtn:hover, .closeableBox .closeBoxBtn:active
{
	opacity: 1;
}

div.infoMsgs > ul /* Default box - no border, no bg */
{
	padding: 5px 15px;
	margin: 0 0 4px 0;
	font-size: .9rem;
	list-style-type: none;
	line-height: 1.2em;
}
div.infoMsgs.closeableBox > ul
{
	padding-right: 35px;
}
div.infoMsgs.boxStyleHigh > ul
{
	border: 2px solid #e68686;
	background-color: #fae7e7;
}
div.infoMsgs.boxStyleMed > ul
{
	border: 2px solid #fbe28d;
	background-color: #fef9e8;
}
div.infoMsgs.boxStyleLow > ul
{
	border: 2px solid #8aaac7;
	background-color: #e8eef4;
}
div.infoMsgs > ul > li /* Default item */
{
	color: #000;
	background: transparent url(/images/core/priorityLow.png) no-repeat 0 10px; /* info circle */
	padding: 10px 0 10px 25px;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
div.infoMsgs > ul > li:last-child, div.infoMsgs > ul > li:last-of-type {
	border-bottom: none;
}
div.infoMsgs > ul > li.msgPriCritical, div.infoMsgs > ul > li.msgPriHigh /* exclamation triangle */
{
	background-image: url(/images/core/priorityHigh.png);
}
div.infoMsgs > ul > li.msgPriMedHigh, div.infoMsgs > ul > li.msgPriMed /* exclamation circle */
{
	background-image: url(/images/core/priorityMed.png);
}
div.infoMsgs > ul > li.msgPriNone /* no icon */
{
	background-image: none;
	padding-left: 0;
}

/*
a.actionLink:link, a.actionLink:visited
{
	background: transparent url(/images/core/IconValidate.gif) no-repeat;
	padding-left: 20px;
}
a.actionLink:hover, a.actionLink:active
{
}
*/

table.slimGrid
{
	/*font-size: .9em;*/
}
table.slimGrid th
{
	/*font-weight: normal; 	text-decoration: underline;*/
	border: none;
	background-color: Transparent;
	text-align: left;
	color: #666;
	font-size: .9em;
}
table.slimGrid td
{
	border: none;
	padding: 0 3px;
}

#bottomImgs
{
	margin-top: 60px;
	border-top: 1px dotted #666;
}
#bottomImgs .imgLink
{
	width: 33%;
	float: left;
	text-align: center;
	min-width: 174px;
	height: 91px;
	padding-top: 10px;
}
#bottomImgs .imgLink a
{
	opacity: .6;
}
#bottomImgs .imgLink a:hover, #bottomImgs .imgLink a:focus
{
	opacity: 1;
}

#leftNavTrigger
{
	display: none;
	background-position: -21px -21px; /* menu */
	width: 22px;
	height: 22px;
	float: left;
	margin: 2px 10px 2px 2px;
}
#myProfileTrigger
{
	margin-left: 10px;
	font-size: .8em;
	white-space: nowrap;
}
